
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');




*{
    margin: 0;
    padding: 0;
    border:0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg:#e07a5f;
    --color-bg-variant:#e09681;
    --color-primary:#3d405b;
    --color-primary-variant:#81b29a;
    --color-white:#3d405b;
    --color-light:#e07a5f;

    --container-width-lg:75%;
    --container-width-md:86%;
    --container-width-sm:90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
}